.container {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(61, 183, 227);
}

.top,
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card,
.subcat {
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    outline: 1px solid black;
}

.card:hover {
    background-color: rgb(205, 208, 208);
}

.bottom {
    justify-content: center;
}
@media screen and (max-width:700px){
    .card, .subcat{
        max-width: 90%;
    }
    .container  {
        width: 100%;
    }
    .bottom{
        max-width: 90%;
        padding: 20px;
    }
}